<div class="container">
  <div class="jumbotron">
    <h1>About Syfolio</h1>
    <h2>Next Generation Science Portfolios</h2>
    <p class="lead">On SyFolio students build science portfolios that highlight their achievements while teachers easily manage their students accounts.</p>
    <p><%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-success" %></p>
  </div>
</div>
