<div class="jumbotron">
  <%= image_tag("logo.png") %>
  <h1>SyFolio</h1>
  <h2>Next Generation Science Portfolios</h2>
  <p class="lead">We are developing an easy to use platform for students to create science portfolios.</p>
  <p><%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-success" %></p>
</div>
