<div class="jumbotron">
        <h1>SyFolio</h1>
        <p class="lead">Students deserve an opportunity to showcase their scientific achievements. On SyFolio these achievements are organized using the crosscutting concepts identified in the Next Generation Science Standards. Each concept is represented by an area of a portfolio into which students can drag and drop items that showcase their achievements. Each concept also has a text area for students to use to explain how the items demonstrate their understanding of the concept.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
</div>
